<h1 class="text-center text-4xl font-extrabold mb-8">User List</h1>

<app-users-list-filters (filtersChanged)="updateFilters($event)" />

<div *ngIf="isLoading">Cargando...</div>

<div *ngIf="!isLoading && users.length === 0">No se encontraron usuarios.</div>

<div *ngIf="users.length !== 0">
    <app-users-table [users]="users" (onDelete)="onDelete($event)" />

    <app-pagination
        [firstIndex]="firstIndex"
        [lastIndex]="lastIndex"
        [totalCount]="totalCount"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()"
    />
</div>
